<div class="col-xl-6 col-10 carousel-col">
    <div id="linksCarousel" class="carousel carousel-dark slide" data-bs-interval="false" data-bs-pause="hover">
        <div class="carousel-inner d-flex align-items-center" role="listbox">
            <div class="carousel-item active">
                <div class="col-md-3 d-flex justify-content-center align-items-center carousel-img">
                    <a href="https://sprawozdania-xbrl.pl/">
                        <img src="/sites/default/files/2022-11/logo_xbrl.png" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-3 d-flex justify-content-center align-items-center carousel-img">
                    <a href="https://www.bwcs.pl/">
                        <img src="/sites/default/files/2022-11/logo_pwsig.jpg" class="img-fluid">
                    </a>    
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-3 d-flex justify-content-center align-items-center carousel-img">
                    <a href="https://www.park.suwalki.pl/">
                        <img src="/sites/default/files/2022-11/logo_pn.jpg" class="img-fluid">
                    </a>    
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-3 d-flex justify-content-center align-items-center carousel-img">
                    <a href="https://www.pibr.org.pl/">
                        <img src="/sites/default/files/2022-11/logo_pibr.png" class="img-fluid">
                    </a>    
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-3 d-flex justify-content-center align-items-center carousel-img">
                    <a href="http://belgium.pl/">
                        <img src="/sites/default/files/2022-11/logo_bbc2.jpg" class="img-fluid">
                    </a>    
                </div>
            </div>
        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#linksCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#linksCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>