{% extends "@bootstrap_barrio/block/block.html.twig" %}
{#
/**
 * @file
 * Bartik's theme implementation for a search form block. Extends Barrio's
 * search form block template.
 *
 * Available variables:
 * - content: The content of this block.
 * - content_attributes: A list of HTML attributes applied to the main content
 *   tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see search_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{% block content %}

<ul class="clearfix nav navbar-nav" id="searchNav">
  <li class="nav-item dropdown" id="searchItem">
    <a href="#" class="nav-link dropdown-toggle" id="searchTrigger" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-magnifying-glass"></i>
    </a>
    <ul class="dropdown-menu" id="searchDropdown" aria-labelledby="searchTrigger">
      <li class="dropdown-item dropdown" id="searchDropdownItem">
        <div{{ content_attributes.addClass('content') }}>
          {{ content }}
        </div>
      </li>
    </ul>
  </li>
</uL>

{% endblock %}
