<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h2 class="footer-first-title">Usługi</h2>
        <ul class="footer-services">
            <li><a href="">Audyt</a></li>
            <li><a href="">Księgowość</a></li>
            <li><a href="">Kadry i płace</a></li>
            <li><a href="">Obsługa expatów</a></li>
            <li><a href="">Doradztwo podatkowe</a></li>
            <li><a href="">Doradztwo finansowe</a></li>
            <li><a href="">Konsulting zarządczy</a></li>
            <li><a href="">Doradztwo prawne</a></li>
            <li><a href="">Domiciliation services</a></li>
            <li><a href="">Archiwizacja dokumentów</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h2 class="footer-second-title">Kontakt</h2>
        <strong>BW Corporate Services sp. z o.o.</strong><br>
        ul. Sienna 83 lok. 218<br>
        00-815 Warszawa<br>
        Tel: <strong>+48 22 292 89 30</strong><br>
        Fax: +48 22 292 89 32<br>
        E-mail: <a href="mailto:info@bwcs.pl">info@bwcs.pl</a>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h2 class="footer-third-title">Nasze biura</h2>
        <img src="/sites/default/files/2022-11/mapa_biur_small.png"></img>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 footer-middle">
        <p>We use cookies to ensure we give you the best experience. If you continue, we'll assume that you are happy to receive all cookies on the BWCS  Website.</p>
        <p><strong>GDPR - General Data Protection Regulation</strong></p>
        <p>A regulation by which the European Parliament, the Council of the European Union and the European Commission intend to strengthen and unify data 
        protection for all individuals within the European Union (EU). This is the homepage of the <a href="https://www.eugdpr.org/">GDPR website</a></p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 footer-bottom">
        <p>Wszelkie prawa zastrzeżone by BW Corporate Services {{ 'now' | date('Y') }}</p>
    </div>
</div>