<div class="slider"></div>
{# <div id="contentUnderSlider">
    <div class="wraper-content">
        <div class="white-box"></div>
        <div class="red-box">
            <div class="region region-red-links">
                <div id="block-views-widok-czerwonych-kafelk-w-block" class="block block-views first last odd">
                    <div class="view view-widok-czerwonych-kafelk-w view-id-widok_czerwonych_kafelk_w view-display-id-block view-dom-id-cc97757491fcdfccf51b9f953064a01e">
                        <div class="view-content">
                            <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field views-field-field-link-kafelki-czerwone">
    <div class="field-content">
        <a href="https://www.bwcs.pl/audyt">
            <img typeof="foaf:Image" src="https://www.bwcs.pl/sites/default/files/xaudyt.png.pagespeed.ic.nrjruIzx1Q.webp" width="59" height="53" alt="" data-pagespeed-url-hash="913838197" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><span>Audyt</span>
        </a></div>  <div class="field-content copy-element"><a href="https://www.bwcs.pl/audyt"><img typeof="foaf:Image" src="https://www.bwcs.pl/sites/default/files/xaudyt.png.pagespeed.ic.nrjruIzx1Q.webp" width="59" height="53" alt="" data-pagespeed-url-hash="913838197" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><span>Audyt</span></a></div></div>  
  <div class="views-field views-field-field-obraz-kafelki-czerwone">        <div class="field-content"><img typeof="foaf:Image" src="https://www.bwcs.pl/sites/default/files/xaudyt.png.pagespeed.ic.nrjruIzx1Q.webp" width="59" height="53" alt="" data-pagespeed-url-hash="913838197" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-field-link-kafelki-czerwone">        <div class="field-content"><a href="https://www.bwcs.pl/ksiegowosc"><img typeof="foaf:Image" src="https://www.bwcs.pl/sites/default/files/xtelephone-ico.png.pagespeed.ic.fSvevo0Nlm.webp" width="38" height="50" alt="" data-pagespeed-url-hash="2659174198" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><span>Księgowość</span></a></div>  <div class="field-content copy-element"><a href="https://www.bwcs.pl/ksiegowosc"><img typeof="foaf:Image" src="https://www.bwcs.pl/sites/default/files/xtelephone-ico.png.pagespeed.ic.fSvevo0Nlm.webp" width="38" height="50" alt="" data-pagespeed-url-hash="2659174198" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><span>Księgowość</span></a></div></div>  
  <div class="views-field views-field-field-obraz-kafelki-czerwone">        <div class="field-content"><img typeof="foaf:Image" src="https://www.bwcs.pl/sites/default/files/xtelephone-ico.png.pagespeed.ic.fSvevo0Nlm.webp" width="38" height="50" alt="" data-pagespeed-url-hash="2659174198" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field views-field-field-link-kafelki-czerwone">        <div class="field-content"><a href="https://www.bwcs.pl/kadry-i-place"><img typeof="foaf:Image" src="https://www.bwcs.pl/sites/default/files/xchart-ico.png.pagespeed.ic.3z7T4Ha4hT.webp" width="77" height="49" alt="" data-pagespeed-url-hash="983338256" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><span>Kadry i płace</span></a></div>  <div class="field-content copy-element"><a href="https://www.bwcs.pl/kadry-i-place"><img typeof="foaf:Image" src="https://www.bwcs.pl/sites/default/files/xchart-ico.png.pagespeed.ic.3z7T4Ha4hT.webp" width="77" height="49" alt="" data-pagespeed-url-hash="983338256" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><span>Kadry i płace</span></a></div></div>  
  <div class="views-field views-field-field-obraz-kafelki-czerwone">        <div class="field-content"><img typeof="foaf:Image" src="https://www.bwcs.pl/sites/default/files/xchart-ico.png.pagespeed.ic.3z7T4Ha4hT.webp" width="77" height="49" alt="" data-pagespeed-url-hash="983338256" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>  </div>  </div>
  <div class="views-row views-row-4 views-row-even views-row-last">
      
  <div class="views-field views-field-field-link-kafelki-czerwone">        <div class="field-content"><a href="https://www.bwcs.pl/konsulting-zarzadczy"><img typeof="foaf:Image" src="https://www.bwcs.pl/sites/default/files/xman-ico.png.pagespeed.ic._61NJc7g9a.webp" width="53" height="60" alt="" data-pagespeed-url-hash="1489613760" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><span>Konsulting korporacyjny</span></a></div>  <div class="field-content copy-element"><a href="https://www.bwcs.pl/konsulting-zarzadczy"><img typeof="foaf:Image" src="https://www.bwcs.pl/sites/default/files/xman-ico.png.pagespeed.ic._61NJc7g9a.webp" width="53" height="60" alt="" data-pagespeed-url-hash="1489613760" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><span>Konsulting korporacyjny</span></a></div></div>  
  <div class="views-field views-field-field-obraz-kafelki-czerwone">        <div class="field-content"><img typeof="foaf:Image" src="https://www.bwcs.pl/sites/default/files/xman-ico.png.pagespeed.ic._61NJc7g9a.webp" width="53" height="60" alt="" data-pagespeed-url-hash="1489613760" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>  </div>  </div>
    </div>
  
  
  
  
  
  
</div>
</div>
  </div>

        </div>
    </div>
</div> #}

<div id="DIV_1">
	<div id="DIV_2">
		<div id="DIV_3">
			<div id="DIV_4">
				<div id="DIV_5">
					<a href="https://www.bwcs.pl//audyt" id="A_6"><img src="https://www.bwcs.pl/sites/default/files/xaudyt.png.pagespeed.ic.nrjruIzx1Q.webp" width="59" height="53" alt="" id="IMG_7" /><span id="SPAN_8">Audyt</span></a>
				</div>
				<div id="DIV_9">
					<a href="https://www.bwcs.pl//ksiegowosc" id="A_10"><img src="https://www.bwcs.pl/sites/default/files/xtelephone-ico.png.pagespeed.ic.fSvevo0Nlm.webp" width="38" height="50" alt="" id="IMG_11" /><span id="SPAN_12">Księgowość</span></a>
				</div>
				<div id="DIV_13">
					<a href="https://www.bwcs.pl/kadry-i-place" id="A_14"><img src="https://www.bwcs.pl/sites/default/files/xchart-ico.png.pagespeed.ic.3z7T4Ha4hT.webp" width="77" height="49" alt="" id="IMG_15" /><span id="SPAN_16">Kadry i płace</span></a>
				</div>
				<div id="DIV_17">
					<a href="https://www.bwcs.pl//konsulting-zarzadczy" id="A_18"><img src="https://www.bwcs.pl/sites/default/files/xman-ico.png.pagespeed.ic._61NJc7g9a.webp" width="53" height="60" alt="" id="IMG_19" /><span id="SPAN_20">Konsulting korporacyjny</span></a>
				</div>
			</div>
			<div id="DIV_21">
				<div id="DIV_22">
					<a href="https://www.bwcs.pl//doradztwo-finansowe" id="A_23"><img src="https://www.bwcs.pl/sites/default/files/xchart-man-ico.png.pagespeed.ic.cB5Hflu0Q5.webp" width="50" height="41" alt="" id="IMG_24" /><span id="SPAN_25">Doradztwo finansowe</span></a>
				</div>
				<div id="DIV_26">
					<a href="https://www.bwcs.pl//doradztwo-podatkowe" id="A_27"><img src="https://www.bwcs.pl/sites/default/files/xwalking-man-ico.png.pagespeed.ic.MEIpyT4KeL.webp" width="40" height="44" alt="" id="IMG_28" /><span id="SPAN_29">Doradztwo podatkowe</span></a>
				</div>
				<div id="DIV_30">
					<a href="https://www.bwcs.pl//obsluga-expatow" id="A_31"><img src="https://www.bwcs.pl/sites/default/files/xpoint-ico.png.pagespeed.ic.EgI9CqTAvS.webp" width="40" height="49" alt="" id="IMG_32" /><span id="SPAN_33">Usługi dla expatów</span></a>
				</div>
				<div id="DIV_34">
					<a href="https://www.bwcs.pl//doradztwo-prawne" id="A_35"><img src="https://www.bwcs.pl/sites/default/files/xsomething-ico_0.png.pagespeed.ic.3S5fChtwDp.webp" width="40" height="50" alt="" id="IMG_36" /><span id="SPAN_37">Doradztwo prawne</span></a>
				</div>
			</div>
		</div>
		<div id="DIV_38">
		</div>
		<div id="DIV_39">
			<div id="DIV_40">
				<div id="DIV_41">
					<div id="DIV_42">
						<div id="DIV_43">
							<div id="DIV_44">
								<div id="DIV_45">
									<div id="DIV_46">
										<a href="https://www.bwcs.pl//audyt" id="A_47"><img src="https://www.bwcs.pl/sites/default/files/xaudyt.png.pagespeed.ic.nrjruIzx1Q.webp" width="59" height="53" alt="" id="IMG_48" /><span id="SPAN_49">Audyt</span></a>
									</div>
									<div id="DIV_50">
										<a href="https://www.bwcs.pl//audyt" id="A_51"><img src="https://www.bwcs.pl/sites/default/files/xaudyt.png.pagespeed.ic.nrjruIzx1Q.webp" width="59" height="53" alt="" id="IMG_52" /><span id="SPAN_53">Audyt</span></a>
									</div>
								</div>
								<div id="DIV_54">
									<div id="DIV_55">
										<img src="https://www.bwcs.pl/sites/default/files/xaudyt.png.pagespeed.ic.nrjruIzx1Q.webp" width="59" height="53" alt="" id="IMG_56" />
									</div>
								</div>
							</div>
							<div id="DIV_57">
								<div id="DIV_58">
									<div id="DIV_59">
										<a href="https://www.bwcs.pl//ksiegowosc" id="A_60"><img src="https://www.bwcs.pl/sites/default/files/xtelephone-ico.png.pagespeed.ic.fSvevo0Nlm.webp" width="38" height="50" alt="" id="IMG_61" /><span id="SPAN_62">Księgowość</span></a>
									</div>
									<div id="DIV_63">
										<a href="https://www.bwcs.pl//ksiegowosc" id="A_64"><img src="https://www.bwcs.pl/sites/default/files/xtelephone-ico.png.pagespeed.ic.fSvevo0Nlm.webp" width="38" height="50" alt="" id="IMG_65" /><span id="SPAN_66">Księgowość</span></a>
									</div>
								</div>
								<div id="DIV_67">
									<div id="DIV_68">
										<img src="https://www.bwcs.pl/sites/default/files/xtelephone-ico.png.pagespeed.ic.fSvevo0Nlm.webp" width="38" height="50" alt="" id="IMG_69" />
									</div>
								</div>
							</div>
							<div id="DIV_70">
								<div id="DIV_71">
									<div id="DIV_72">
										<a href="https://www.bwcs.pl/kadry-i-place" id="A_73"><img src="https://www.bwcs.pl/sites/default/files/xchart-ico.png.pagespeed.ic.3z7T4Ha4hT.webp" width="77" height="49" alt="" id="IMG_74" /><span id="SPAN_75">Kadry i płace</span></a>
									</div>
									<div id="DIV_76">
										<a href="https://www.bwcs.pl/kadry-i-place" id="A_77"><img src="https://www.bwcs.pl/sites/default/files/xchart-ico.png.pagespeed.ic.3z7T4Ha4hT.webp" width="77" height="49" alt="" id="IMG_78" /><span id="SPAN_79">Kadry i płace</span></a>
									</div>
								</div>
								<div id="DIV_80">
									<div id="DIV_81">
										<img src="https://www.bwcs.pl/sites/default/files/xchart-ico.png.pagespeed.ic.3z7T4Ha4hT.webp" width="77" height="49" alt="" id="IMG_82" />
									</div>
								</div>
							</div>
							<div id="DIV_83">
								<div id="DIV_84">
									<div id="DIV_85">
										<a href="https://www.bwcs.pl//konsulting-zarzadczy" id="A_86"><img src="https://www.bwcs.pl/sites/default/files/xman-ico.png.pagespeed.ic._61NJc7g9a.webp" width="53" height="60" alt="" id="IMG_87" /><span id="SPAN_88">Konsulting korporacyjny</span></a>
									</div>
									<div id="DIV_89">
										<a href="https://www.bwcs.pl//konsulting-zarzadczy" id="A_90"><img src="https://www.bwcs.pl/sites/default/files/xman-ico.png.pagespeed.ic._61NJc7g9a.webp" width="53" height="60" alt="" id="IMG_91" /><span id="SPAN_92">Konsulting korporacyjny</span></a>
									</div>
								</div>
								<div id="DIV_93">
									<div id="DIV_94">
										<img src="https://www.bwcs.pl/sites/default/files/xman-ico.png.pagespeed.ic._61NJc7g9a.webp" width="53" height="60" alt="" id="IMG_95" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="DIV_96">
			<div id="DIV_97">
				<div id="DIV_98">
					<div id="DIV_99">
						<div id="DIV_100">
							<div id="DIV_101">
								<div id="DIV_102">
									<div id="DIV_103">
										<a href="https://www.bwcs.pl//doradztwo-finansowe" id="A_104"><img src="https://www.bwcs.pl/sites/default/files/xchart-man-ico.png.pagespeed.ic.cB5Hflu0Q5.webp" width="50" height="41" alt="" id="IMG_105" /><span id="SPAN_106">Doradztwo finansowe</span></a>
									</div>
									<div id="DIV_107">
										<a href="https://www.bwcs.pl//doradztwo-finansowe" id="A_108"><img src="https://www.bwcs.pl/sites/default/files/xchart-man-ico.png.pagespeed.ic.cB5Hflu0Q5.webp" width="50" height="41" alt="" id="IMG_109" /><span id="SPAN_110">Doradztwo finansowe</span></a>
									</div>
								</div>
								<div id="DIV_111">
									<div id="DIV_112">
										<img src="https://www.bwcs.pl/sites/default/files/xchart-man-ico.png.pagespeed.ic.cB5Hflu0Q5.webp" width="50" height="41" alt="" id="IMG_113" />
									</div>
								</div>
							</div>
							<div id="DIV_114">
								<div id="DIV_115">
									<div id="DIV_116">
										<a href="https://www.bwcs.pl//doradztwo-podatkowe" id="A_117"><img src="https://www.bwcs.pl/sites/default/files/xwalking-man-ico.png.pagespeed.ic.MEIpyT4KeL.webp" width="40" height="44" alt="" id="IMG_118" /><span id="SPAN_119">Doradztwo podatkowe</span></a>
									</div>
									<div id="DIV_120">
										<a href="https://www.bwcs.pl//doradztwo-podatkowe" id="A_121"><img src="https://www.bwcs.pl/sites/default/files/xwalking-man-ico.png.pagespeed.ic.MEIpyT4KeL.webp" width="40" height="44" alt="" id="IMG_122" /><span id="SPAN_123">Doradztwo podatkowe</span></a>
									</div>
								</div>
								<div id="DIV_124">
									<div id="DIV_125">
										<img src="https://www.bwcs.pl/sites/default/files/xwalking-man-ico.png.pagespeed.ic.MEIpyT4KeL.webp" width="40" height="44" alt="" id="IMG_126" />
									</div>
								</div>
							</div>
							<div id="DIV_127">
								<div id="DIV_128">
									<div id="DIV_129">
										<a href="https://www.bwcs.pl//obsluga-expatow" id="A_130"><img src="https://www.bwcs.pl/sites/default/files/xpoint-ico.png.pagespeed.ic.EgI9CqTAvS.webp" width="40" height="49" alt="" id="IMG_131" /><span id="SPAN_132">Usługi dla expatów</span></a>
									</div>
									<div id="DIV_133">
										<a href="https://www.bwcs.pl//obsluga-expatow" id="A_134"><img src="https://www.bwcs.pl/sites/default/files/xpoint-ico.png.pagespeed.ic.EgI9CqTAvS.webp" width="40" height="49" alt="" id="IMG_135" /><span id="SPAN_136">Usługi dla expatów</span></a>
									</div>
								</div>
								<div id="DIV_137">
									<div id="DIV_138">
										<img src="https://www.bwcs.pl/sites/default/files/xpoint-ico.png.pagespeed.ic.EgI9CqTAvS.webp" width="40" height="49" alt="" id="IMG_139" />
									</div>
								</div>
							</div>
							<div id="DIV_140">
								<div id="DIV_141">
									<div id="DIV_142">
										<a href="https://www.bwcs.pl//doradztwo-prawne" id="A_143"><img src="https://www.bwcs.pl/sites/default/files/xsomething-ico_0.png.pagespeed.ic.3S5fChtwDp.webp" width="40" height="50" alt="" id="IMG_144" /><span id="SPAN_145">Doradztwo prawne</span></a>
									</div>
									<div id="DIV_146">
										<a href="https://www.bwcs.pl//doradztwo-prawne" id="A_147"><img src="https://www.bwcs.pl/sites/default/files/xsomething-ico_0.png.pagespeed.ic.3S5fChtwDp.webp" width="40" height="50" alt="" id="IMG_148" /><span id="SPAN_149">Doradztwo prawne</span></a>
									</div>
								</div>
								<div id="DIV_150">
									<div id="DIV_151">
										<img src="https://www.bwcs.pl/sites/default/files/xsomething-ico_0.png.pagespeed.ic.3S5fChtwDp.webp" width="40" height="50" alt="" id="IMG_152" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="DIV_153">
				<div id="DIV_154">
					<h2 id="H2_155">
						Aktualności
					</h2>
					<div id="DIV_156">
						<div id="DIV_157">
							<div id="DIV_158">
								<div id="DIV_159">
									 <span id="SPAN_160"><a href="https://www.bwcs.pl/agn-world-congress" id="A_161">AGN World congress</a></span>
								</div>
								<div id="DIV_162">
									 <span id="SPAN_163">21.12.2020r.</span>
								</div>
								<div id="DIV_164">
									<div id="DIV_165">
										On December 15, 2020, we attended second day of the AGN World congress, intended for the European...
									</div>
								</div>
							</div>
							<div id="DIV_166">
								<div id="DIV_167">
									 <span id="SPAN_168"><a href="https://www.bwcs.pl/seminarium-msr-mssf-agn-w-lizbonie" id="A_169">Seminarium MSR / MSSF AGN w Lizbonie</a></span>
								</div>
								<div id="DIV_170">
									 <span id="SPAN_171">28.11.2017r.</span>
								</div>
								<div id="DIV_172">
									<div id="DIV_173">
										Słoneczna i urokliwa Lizbona była gospodarzem seminarium dotyczącego MSR/MSSF, zorganizowanego...
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="DIV_174">
			<div id="DIV_175">
				<div id="DIV_176">
					<div id="DIV_177">
						<div id="DIV_178">
							<div id="DIV_179">
								<div id="DIV_180">
									<div id="DIV_181">
										<p id="P_182">
											<a href="https://www.bwcs.pl/misja-i-cele" id="A_183">Misja<br id="BR_184" /><span id="SPAN_185">i cele</span></a>
										</p>
									</div>
								</div>
								<div id="DIV_186">
									<div id="DIV_187">
										<img src="https://www.bwcs.pl/sites/default/files/xobraz_03.jpg.pagespeed.ic.SR-PQQSwrg.webp" width="217" height="115" alt="" id="IMG_188" />
									</div>
								</div>
								<div id="DIV_189">
									<div id="DIV_190">
										<ul id="UL_191">
											<li id="LI_192">
												Długofalowa współpraca
											</li>
											<li id="LI_193">
												Rozwój potencjału biznesowego
											</li>
											<li id="LI_194">
												Wspólne sukcesy
											</li>
											<li id="LI_195">
												Rozwój poprzez technologię
											</li>
										</ul>
									</div>
								</div>
								<div id="DIV_196">
									<div id="DIV_197">
										<a href="https://www.bwcs.pl/misja-i-cele" id="A_198">zobacz wiecej</a>
									</div>
								</div>
								<div id="DIV_199">
									<div id="DIV_200">
										<p id="P_201">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit, neque id consectetur fringilla, urna eros consequat eros, quis ultrices nisl neque malesuada purus. Duis ac lobortis orci. Aenean nec facilisis ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eget vehicula felis, quis sodales nulla. Curabitur vel orci sem. Morbi semper felis vitae risus volutpat pharetra. Ut a purus eu augue fringilla volutpat. Morbi faucibus tempor nisi.
										</p>
										<p id="P_202">
											Ut eu ante luctus, ultrices enim facilisis, dictum quam. Aenean at nisi in elit auctor suscipit eget sit amet turpis. Etiam fringilla enim in quam sodales efficitur. Aenean in rhoncus odio, nec fringilla orci. Pellentesque non consequat nisl. Maecenas sollicitudin lorem eu vulputate rutrum. Mauris odio turpis, tristique vel semper at, sollicitudin a est.
										</p>
										<p id="P_203">
											Mauris sit amet diam vel elit euismod tincidunt in sed leo. Etiam quis dui facilisis, efficitur metus quis, fringilla nisl. Nunc vitae ligula vel velit mollis feugiat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent egestas ac odio ut finibus. Nulla dui purus, venenatis id hendrerit quis, porta id nisl. Suspendisse rhoncus est at leo finibus, sed interdum elit iaculis. Maecenas sit amet nibh tincidunt, eleifend erat eget, consequat est. Sed porttitor diam mi, non feugiat nibh congue eget. Sed pulvinar dolor lorem, nec tincidunt velit ultrices eget. Vestibulum imperdiet lorem lacinia convallis egestas. Aliquam lobortis dapibus ipsum, non consequat quam elementum at. Sed eu tristique ex. Vestibulum interdum aliquet vehicula. Nunc fermentum nisi dolor, nec tempor neque fringilla vel. Proin sit amet sagittis arcu.
										</p>
									</div>
								</div>
							</div>
							<div id="DIV_204">
								<div id="DIV_205">
									<div id="DIV_206">
										<p id="P_207">
											<a href="https://www.bwcs.pl/kim-jestesmy" id="A_208">Kim<br id="BR_209" /><span id="SPAN_210">jesteśmy?</span></a>
										</p>
									</div>
								</div>
								<div id="DIV_211">
									<div id="DIV_212">
										<img src="https://www.bwcs.pl/sites/default/files/xbwcs_04_01_04.jpg.pagespeed.ic.SWNM3jvstQ.webp" width="218" height="115" alt="" id="IMG_213" />
									</div>
								</div>
								<div id="DIV_214">
									<div id="DIV_215">
										<ul id="UL_216">
											<li id="LI_217">
												Audyt finansowy i podatkowy
											</li>
											<li id="LI_218">
												Outsourcing finansowy i HR
											</li>
											<li id="LI_219">
												Kompleksowość usług
											</li>
											<li id="LI_220">
												Międzynarodowe doświadczenie
											</li>
										</ul>
									</div>
								</div>
								<div id="DIV_221">
									<div id="DIV_222">
										<a href="https://www.bwcs.pl//kim-jestesmy" id="A_223">zobacz wiecej</a>
									</div>
								</div>
								<div id="DIV_224">
									<div id="DIV_225">
									</div>
								</div>
							</div>
							<div id="DIV_226">
								<div id="DIV_227">
									<div id="DIV_228">
										<p id="P_229">
											<a href="https://www.bwcs.pl/jak-dzialamy" id="A_230">Jak<br id="BR_231" /><span id="SPAN_232">działamy?</span></a>
										</p>
									</div>
								</div>
								<div id="DIV_233">
									<div id="DIV_234">
										<img src="https://www.bwcs.pl/sites/default/files/xobraz_05.jpg.pagespeed.ic.PjJryTsjtl.webp" width="216" height="115" alt="" id="IMG_235" />
									</div>
								</div>
								<div id="DIV_236">
									<div id="DIV_237">
										<ul id="UL_238">
											<li id="LI_239">
												Zrozmienie biznesu
											</li>
											<li id="LI_240">
												Adekwatne rozwiązania
											</li>
											<li id="LI_241">
												Zarządzanie płynnością
											</li>
											<li id="LI_242">
												Kontrola ryzyka
											</li>
										</ul>
									</div>
								</div>
								<div id="DIV_243">
									<div id="DIV_244">
										<a href="https://www.bwcs.pl//jak-dzialamy" id="A_245">zobacz wiecej</a>
									</div>
								</div>
								<div id="DIV_246">
									<div id="DIV_247">
										<p id="P_248">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit, neque id consectetur fringilla, urna eros consequat eros, quis ultrices nisl neque malesuada purus. Duis ac lobortis orci. Aenean nec facilisis ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eget vehicula felis, quis sodales nulla. Curabitur vel orci sem. Morbi semper felis vitae risus volutpat pharetra. Ut a purus eu augue fringilla volutpat. Morbi faucibus tempor nisi.
										</p>
										<p id="P_249">
											Ut eu ante luctus, ultrices enim facilisis, dictum quam. Aenean at nisi in elit auctor suscipit eget sit amet turpis. Etiam fringilla enim in quam sodales efficitur. Aenean in rhoncus odio, nec fringilla orci. Pellentesque non consequat nisl. Maecenas sollicitudin lorem eu vulputate rutrum. Mauris odio turpis, tristique vel semper at, sollicitudin a est.
										</p>
										<p id="P_250">
											Mauris sit amet diam vel elit euismod tincidunt in sed leo. Etiam quis dui facilisis, efficitur metus quis, fringilla nisl. Nunc vitae ligula vel velit mollis feugiat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent egestas ac odio ut finibus. Nulla dui purus, venenatis id hendrerit quis, porta id nisl. Suspendisse rhoncus est at leo finibus, sed interdum elit iaculis. Maecenas sit amet nibh tincidunt, eleifend erat eget, consequat est. Sed porttitor diam mi, non feugiat nibh congue eget. Sed pulvinar dolor lorem, nec tincidunt velit ultrices eget. Vestibulum imperdiet lorem lacinia convallis egestas. Aliquam lobortis dapibus ipsum, non consequat quam elementum at. Sed eu tristique ex. Vestibulum interdum aliquet vehicula. Nunc fermentum nisi dolor, nec tempor neque fringilla vel. Proin sit amet sagittis arcu.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>