/**
 * @file
 * Subtheme specific CSS.
 */

 .bg-light {
    background-color:  #fff !important;
 }

/********** BRAND **********/

 .site-slogan {
    font-size: 11.3px;
    margin-top: 10px;
 }

 .navbar-brand .site-logo {
    margin-right: 0rem;
}

@media (max-width: 1199px) {
    .navbar-brand {
       display:none;
    }
}

/********** NAVIGATION **********/

@media (max-width: 1199px) {
    .nav-justify {
        justify-content: flex-start !important;
    }
}

@media (min-width: 1200px) {
    .nav-justify {
        justify-content: flex-end !important;
    }
}

/********** MENU **********/ 

.navbar-light .nav-link {
    font-size: 18px;
    font-weight: bold;
    /* padding: 46.5px 17px; */
    color: #999;
    transition: background 250ms linear;
}

.dropdown-item a {
    color: #999 !important;
    padding: 9px 10px 9px 30px;
    text-decoration: none;
    /* background-color: #01196e; */
}

/* .dropdown-item:active {
    /* background-color: #01196e;
} */

@media (min-width: 1200px) {
    .dropdown .dropdown-menu {
        display: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        background: #01196e;
        color: #fff;
        border-radius: 0;
        --bs-dropdown-padding-y: 0rem;
    }

    .dropdown-item a {
        color: #fff !important;
        padding: 9px 10px 9px 30px;
        text-decoration: none;
    }

    .dropdown-item:hover > a {
        color: #01196e !important;
    }

    .hovered {
        background-color: #01196e;
        border-radius: 0;
    }

    .hovered > a {
        color: #fff !important;
    }

    .navbar-light .nav-link {
        /* font-size: 18px;
        font-weight: bold; */
        padding: 46.5px 17px;
        /* color: #999;
        transition: background 250ms linear; */
    }

    .navbar-light .nav-link:hover {
        background: #01196e;
        color: white;
    }

    .nav-link::after {
        content: none;
    }
}

/********** LANG SWITCHER **********/

.block-lang-dropdown {
    display: flex!important;
}

@media (max-width: 1199px) {
    .block-lang-dropdown {
        justify-content: flex-end !important;
    }
}

@media (min-width: 1200px) {
    .block-lang-dropdown {
        justify-content: flex-start !important;
    }
}